.header-page input{
    width: 350px;
    height: 27px;
    border: 1px solid;
    border-radius: 15px;
    padding-left: 7px;
    padding-right: 25px;
}

.header-page input:focus {
outline: none;
}
.header-page label {
    position: relative;
}

.header-page label i {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
}

.notification-user button {
    margin-right: 15px;
    border: none;
    background-color: transparent;
    position: relative;
}

.notification-user button i {
    font-size: 25px;
}

.notification-user button span {
    position: absolute;
    background-color: #e31e1e;
    width: 20px;
    height: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: 7px;
    right: -2px;
}

.notification-user .user {
    cursor: pointer;
}

.notification-user .user img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 2px;
}
 