<div id="openModal{{book.id}}" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<h2>{{book.title}}</h2>
		<p>Este es un ejemplo de modal, creado gracias al poder de CSS3.</p>
		<p>Puedes hacer un montón de cosas aquí, como alertas o incluso crear un formulario de registro aquí mismo.</p>
	</div>
</div>
    
    
    <a href="#openModal{{book.id}}" class="link">
        <img src={{book.bookCover}} alt="">
        <h4>
            {{book.title}}
        </h4>
    </a>

